@import 'tailwindcss';

@theme {
	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	label,
	select,
	button,
	summary {
		cursor: pointer;
	}

	.shiki details {
		summary {
			display: flex;

			&:not(:hover)::after {
				opacity: 0.25;
			}

			&::after {
				content: ' ▶';
			}
		}

		&[open] > summary::after {
			content: ' ▼';
		}
	}
}
