@import './fonts.css';
@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;

	--color-background: #fff;
	--color-foreground: #000;
	--color-accent: #72f088; /* var(--color-green-500); */

	--spacing-ch: 1ch;
	--spacing-rch: 1rch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;
}

@custom-variant hover (&:hover);

@layer base {
	html {
		scroll-behavior: smooth;
		scrollbar-color: var(--color-accent) transparent;
	}

	::selection {
		background-color: var(--color-accent);
		color: var(--color-foreground);
	}

	body {
		accent-color: var(--color-accent);
		caret-color: var(--color-accent);
		background-color: var(--color-background);
		color: var(--color-foreground);
	}

	label,
	select,
	button,
	summary {
		cursor: pointer;
	}
}

@utility no-scrollbar {
	::-webkit-scrollbar {
		display: none;
	}

	scrollbar-width: none;
}

@utility action {
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5ch;
	padding: 0.25ch;
	@apply bg-accent px-ch transition-transform active:scale-90;
}

@utility input {
	border-bottom: 1px dashed var(--color-accent);
	@apply hover:bg-accent/25 focus:bg-accent/25;
}

@layer vendor {
	.shiki {
		--line-num-width: calc(attr(data-line-width type(<number>), 0) * 1ch);
		padding: 1ch;

		&::before {
			content: attr(data-pre);
			@apply mb-ch block text-accent/50;
		}

		.line:not(details)::before {
			content: attr(data-line);
			counter-increment: step;
			width: var(--line-num-width);
			margin-right: 1ch;
			display: inline-block;
			text-align: right;
			@apply text-current/25;
		}

		details {
			--length: attr(data-length);
			position: relative;

			&::after {
				content: '';
				pointer-events: none;
				position: absolute;
				inset: 1lh auto 0
					calc(attr(data-indent type(<number>), 0) * 1ch + var(--line-num-width) + 1ch);
				border-left: 0.5px solid color-mix(in srgb, currentColor var(--border, 0%), transparent);
			}

			&:hover:not(:has(details:hover)) {
				--opacity: 1;
				--border: 25%;

				details:not(:hover) {
					--opacity: 0.25;
					--border: 0%;
				}
			}

			summary {
				display: flex;

				&:not(:hover)::after {
					opacity: var(--opacity, 0.25);
				}

				&::after {
					content: ' ▶';
				}
			}

			&[open] summary::after {
				content: ' ▼';
			}

			&:not([open]) > summary::after {
				opacity: 1;
			}
		}
	}
}
