@import './fonts.css';
@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', monospace;
	--font-mono: 'Geist Mono', monospace;

	--color-dark: #000;
	--color-light: #fff;
	--color-stroke: color-mix(in srgb, currentColor 10%, transparent);

	--color-background: var(--color-light);
	--color-foreground: var(--color-dark);
	--color-accent: #72f088; /* var(--color-green-500); */

	--spacing-ch: 1ch;
	--spacing-rch: 1rch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;
}

@custom-variant hover (&:hover);

@custom-variant dark (body:has([data-color-scheme='dark']) &);
@custom-variant not-dark (body:has(#toggle-color-scheme:not([data-color-scheme='dark'])) &);

@custom-variant sidebar-open (body:has(#sidebar-open:checked) &);
@custom-variant sidebar-not-open (body:has(#sidebar-open:not(:checked)) &);

@layer base {
	::selection {
		background-color: var(--color-accent);
		color: var(--color-dark);
	}

	::placeholder {
		@apply text-current/25;
	}

	html {
		scroll-behavior: smooth;
		scrollbar-color: var(--color-accent) transparent;
	}

	body {
		accent-color: var(--color-accent);
		caret-color: var(--color-accent);

		@apply bg-neutral-100 text-foreground max-sm:has-[#sidebar-open:checked]:overflow-clip;

		&:has([data-color-scheme='dark']) {
			--color-background: var(--color-dark);
			--color-foreground: var(--color-light);
			--color-stroke: color-mix(in srgb, currentColor 25%, transparent);

			@apply bg-neutral-900;
		}
	}

	label,
	select,
	button,
	summary {
		cursor: pointer;
	}

	@supports (interpolate-size: allow-keywords) {
		:root {
			interpolate-size: allow-keywords;
		}

		details {
			:open::details-content {
				height: auto;
			}

			&::details-content {
				overflow: clip;
				transition-duration: var(--default-transition-duration);
				transition-property: content-visibility, block-size;
				transition-behavior: allow-discrete;
			}

			&:not(:open)::details-content {
				block-size: 0;
			}
		}
	}

	abbr {
		text-decoration: none;
	}

	th {
		font-weight: normal;
	}

	[style*='--team-bg:'] {
		&::before {
			content: '';
			pointer-events: none;
			position: absolute;
			inset: 0;
			z-index: -1;
			background-image: var(--team-bg);
			background-size: 1500% 1500%;
			background-position: 50% 5%;
		}

		@apply not-dark:before:opacity-10;
	}
}

/* utilities */

@utility no-scrollbar {
	::-webkit-scrollbar {
		display: none;
	}

	scrollbar-width: none;
}

@utility sticky-below-header {
	position: sticky;
	top: calc(var(--header-height) + var(--offset, 0px));
}

@utility sidebar-closed-hidden {
	@apply transition-opacity sidebar-not-open:pointer-events-none sidebar-not-open:opacity-0;
}

/* typography */

@utility h-base {
	@apply leading-tight font-bold;
}

@utility h1 {
	@apply text-xl h-base;
}

@utility h2 {
	@apply text-lg h-base;
}

@utility h3 {
	@apply h-base;
}

@utility h4 {
	@apply h-base;
}

@utility h5 {
	@apply h-base;
}

@utility h6 {
	@apply h-base;
}

@utility positive {
	@apply text-green-700 dark:text-green-200;
}

@utility negative {
	@apply text-red-700 dark:text-red-200;
}

/* actions, inputs */

@utility button-base {
	@apply inline-flex items-center justify-center select-none;

	gap: 0.5ch;
	padding: 0.25ch 1ch;

	svg {
		width: 1em;
		height: 1em;
	}
}

@utility action {
	@apply button-base border border-accent bg-accent text-black transition-transform active:scale-90;
}

@utility action-tertiary {
	@apply button-base border border-current/25 transition-transform active:scale-90;
}

@utility button {
	appearance: none;
	user-select: none;
	@apply button-base border-b border-current/25 bg-neutral-100/50 hover:border-accent hover:bg-neutral-200/50 active:bg-accent/25! dark:bg-neutral-800/50 dark:hover:bg-neutral-700/50;

	&:has(svg:only-child) {
		padding-inline: 0.5ch;
	}
}

@utility link {
	@apply underline not-hover:decoration-dashed;
}

@utility hover-link {
	@apply decoration-dashed hover:underline;
}

@utility input {
	@apply border border-current/25 hover:bg-accent/25 focus:relative focus:bg-accent/25;
}

@utility input-dev {
	@apply border-b border-dashed border-accent invalid:border-[red] invalid:text-[red]! hover:bg-accent/25 focus:relative focus:bg-accent/25;
}

/* components */

@utility accordion-base {
	summary {
		list-style: none;
		@apply flex items-center gap-ch;

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			content: '';
			width: 16px;
			height: 16px;
			background-color: currentColor;
			mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNMTAuMDcyIDguMDI0TDUuNzE1IDMuNjY3bC42MTgtLjYyTDExIDcuNzE2di42MThMNi4zMzMgMTNsLS42MTgtLjYxOSA0LjM1Ny00LjM1N3oiLz48L3N2Zz4=');
			mask-size: contain;
			mask-repeat: no-repeat;
			transition: rotate var(--default-transition-duration) ease-in-out;
			@apply ml-auto inline-block;
		}
	}

	&[open] {
		&::details-content {
			@apply my-ch;
		}

		summary::after {
			rotate: 90deg;
		}
	}
}

@utility accordion {
	@apply accordion-base;

	summary {
		@apply border-l bg-neutral-100/50 px-ch hover:bg-neutral-200/50 dark:bg-neutral-800/50 dark:hover:bg-neutral-700/50;
	}

	&[open] {
		&::details-content {
			@apply mb-lh;
		}

		summary {
			@apply border-accent;
		}
	}
}

@utility description-list {
	@apply grid grid-cols-[auto_1fr] gap-x-lh;

	dt {
		@apply text-current/50;
	}
}

/* anims */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--tw-duration, var(--default-transition-duration)) ease-in-out
		forwards;
}

@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1ch;
}

@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1ch;
}

@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1ch;
}

@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1ch;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}

	to {
		opacity: 1;
		translate: 0 0;
	}
}

/* vendor */

@layer vendor {
	.shiki {
		--line-num-width: calc(attr(data-line-width type(<number>), 0) * 1ch);
		padding: 1ch;

		&::before {
			content: attr(data-pre);
			@apply mb-ch block break-all text-accent/50;
		}

		.line:not(details)::before {
			content: attr(data-line);
			width: var(--line-num-width);
			margin-right: 1ch;
			display: inline-block;
			text-align: right;
			@apply text-current/25;
		}

		details {
			--length: attr(data-length);
			position: relative;

			&::after {
				content: '';
				pointer-events: none;
				position: absolute;
				inset: 1lh auto 0
					calc(attr(data-indent type(<number>), 0) * 1ch + var(--line-num-width) + 1ch);
				border-left: 0.5px solid color-mix(in srgb, currentColor var(--border, 0%), transparent);
			}

			&:hover:not(:has(details:hover)) {
				--opacity: 1;
				--border: 25%;

				details:not(:hover) {
					--opacity: 0.25;
					--border: 0%;
				}
			}

			summary {
				display: flex;

				&:not(:hover)::after {
					opacity: var(--opacity, 0.25);
				}

				&::after {
					content: ' ▶';
				}
			}

			&[open] summary::after {
				content: ' ▼';
			}

			&:not([open]) > summary::after {
				opacity: 1;
			}
		}
	}
}
